Проект микробиома земли

1. Загружаю данные

In [56]:
import pandas as pd
data = pd.read_csv(
    "ftp://ftp.microbio.me/emp/release1/mapping_files/emp_qiime_mapping_subset_2k.tsv", sep='\t')

In [57]:
data['temperature_deg_c'].describe()

count    411.000000
mean      18.491088
std       16.672381
min      -15.000000
25%        9.714750
50%       15.240000
75%       20.207798
max       91.000000
Name: temperature_deg_c, dtype: float64

2. Количество уникальных исследований

In [58]:
print('Уникальные номера исследований')
data['study_id'].unique()

Уникальные номера исследований

array([ 550,  632,  638,  659,  662,  678,  722,  723,  755,  776,  804,
        805,  807,  808,  809,  810,  829,  846,  861,  864,  889,  894,
        895,  905,  910,  925,  933,  940,  945,  958,  963,  990, 1001,
       1024, 1030, 1031, 1033, 1034, 1035, 1036, 1037, 1038, 1039, 1041,
       1043, 1056, 1064, 1197, 1198, 1222, 1235, 1240, 1242, 1288, 1289,
       1453, 1481, 1521, 1526, 1578, 1579, 1580, 1621, 1622, 1627, 1632,
       1642, 1665, 1673, 1674, 1692, 1694, 1696, 1702, 1711, 1713, 1714,
       1715, 1716, 1717, 1721, 1734, 1736, 1747, 1748, 1773, 1774, 1883,
       2080, 2182, 2192, 2229, 2300, 2338, 2382], dtype=int64)

In [59]:
print('Количество уникальных исследований')
print(data['study_id'].dropna().drop_duplicates().count())

Количество уникальных исследований
95

In [60]:
dataUnique = data.drop_duplicates()
dataUnique.count()

#SampleID               2000
BarcodeSequence         2000
LinkerPrimerSequence    2000
Description             1977
host_subject_id         1873
                        ...
oxygen_mg_per_l           26
phosphate_umol_per_l     144
ammonium_umol_per_l       81
nitrate_umol_per_l       116
sulfate_umol_per_l        17
Length: 76, dtype: int64

In [61]:
data.describe()

,study_id,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,observations_deblur_100bp,observations_deblur_150bp,sample_taxid,...,adiv_shannon,adiv_faith_pd,temperature_deg_c,ph,salinity_psu,oxygen_mg_per_l,phosphate_umol_per_l,ammonium_umol_per_l,nitrate_umol_per_l,sulfate_umol_per_l
count,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2000.000000,2.000000e+03,...,2000.000000,2000.000000,411.000000,284.000000,121.000000,26.000000,144.000000,81.000000,116.000000,17.000000
mean,1423.491000,125.751000,118683.372000,91485.516000,94659.511500,115786.274500,64789.053500,58213.264000,18119.118000,6.451546e+05,...,5.336688,45.323499,18.491088,8.123576,24.959681,10.935769,14.278391,236.644605,71.650086,2.517647
std,540.208383,24.318937,100946.740563,85329.714404,87431.980992,99960.933222,58928.224713,55653.344075,30223.641917,2.715913e+05,...,2.540171,42.088118,16.672381,1.684302,12.954485,1.676604,36.338796,654.115023,243.730156,0.811815
min,550.000000,90.000000,10470.000000,10030.000000,10253.000000,10457.000000,5275.000000,0.000000,0.000000,5.549700e+04,...,-0.000000,1.432725,-15.000000,3.450000,0.043900,8.400000,0.002527,0.000000,0.000000,1.000000
25%,925.000000,100.000000,53760.500000,36146.000000,37562.500000,49896.500000,28138.750000,22395.750000,0.000000,4.122310e+05,...,3.728895,14.737926,9.714750,7.300000,7.440000,9.300000,0.348971,0.200000,0.332500,1.800000
50%,1521.000000,138.000000,92211.500000,66816.000000,69017.000000,89555.500000,50559.500000,47044.500000,4042.000000,5.561820e+05,...,5.544158,30.635928,15.240000,8.061450,31.400000,10.650000,0.955000,2.000000,5.000000,2.800000
75%,1773.000000,150.000000,148746.750000,117519.250000,120490.500000,144549.750000,81776.750000,74205.000000,26975.000000,7.499060e+05,...,7.202397,61.773213,20.207798,9.000000,34.966800,12.137500,4.090000,15.000000,16.455000,3.300000
max,2382.000000,151.000000,819180.000000,713117.000000,717450.000000,814606.000000,589438.000000,573024.000000,294681.000000,1.649191e+06,...,10.738627,257.719293,91.000000,12.300000,37.065900,13.800000,205.000000,3450.000000,1653.000000,3.700000

3. Типы данных в в наборе данных

In [62]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 76 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   #SampleID                           2000 non-null   object
 1   BarcodeSequence                     2000 non-null   object
 2   LinkerPrimerSequence                2000 non-null   object
 3   Description                         1977 non-null   object
 4   host_subject_id                     1873 non-null   object
 5   study_id                            2000 non-null   int64
 6   title                               2000 non-null   object
 7   principal_investigator              2000 non-null   object
 8   doi                                 2000 non-null   object
 9   ebi_accession                       2000 non-null   object
 10  target_gene                         2000 non-null   object
 11  target_subfragment                  2000 non-null   object
 12  pcr_primers                         2000 non-null   object
 13  illumina_technology                 2000 non-null   object
 14  extraction_center                   2000 non-null   object
 15  run_center                          2000 non-null   object
 16  run_date                            2000 non-null   object
 17  read_length_bp                      2000 non-null   int64
 18  sequences_split_libraries           2000 non-null   int64
 19  observations_closed_ref_greengenes  2000 non-null   int64
 20  observations_closed_ref_silva       2000 non-null   int64
 21  observations_open_ref_greengenes    2000 non-null   int64
 22  observations_deblur_90bp            2000 non-null   int64
 23  observations_deblur_100bp           2000 non-null   int64
 24  observations_deblur_150bp           2000 non-null   int64
 25  emp_release1                        2000 non-null   bool
 26  qc_filtered                         2000 non-null   bool
 27  subset_10k                          2000 non-null   bool
 28  subset_5k                           2000 non-null   bool
 29  subset_2k                           2000 non-null   bool
 30  sample_taxid                        2000 non-null   int64
 31  sample_scientific_name              2000 non-null   object
 32  host_taxid                          909 non-null    float64
 33  host_common_name_provided           848 non-null    object
 34  host_common_name                    705 non-null    object
 35  host_scientific_name                909 non-null    object
 36  host_superkingdom                   909 non-null    object
 37  host_kingdom                        909 non-null    object
 38  host_phylum                         909 non-null    object
 39  host_class                          909 non-null    object
 40  host_order                          909 non-null    object
 41  host_family                         909 non-null    object
 42  host_genus                          909 non-null    object
 43  host_species                        909 non-null    object
 44  collection_timestamp                1759 non-null   object
 45  country                             2000 non-null   object
 46  latitude_deg                        1998 non-null   float64
 47  longitude_deg                       1998 non-null   float64
 48  depth_m                             1750 non-null   float64
 49  altitude_m                          1919 non-null   float64
 50  elevation_m                         1981 non-null   float64
 51  env_biome                           2000 non-null   object
 52  env_feature                         2000 non-null   object
 53  env_material                        2000 non-null   object
 54  envo_biome_0                        2000 non-null   object
 55  envo_biome_1                        2000 non-null   object
 56  envo_biome_2                        1967 non-null   object
 57  envo_biome_3                        1443 non-null   object
 58  envo_biome_4                        840 non-null    object
 59  envo_biome_5                        78 non-null     object
 60  empo_0                              2000 non-null   object
 61  empo_1                              2000 non-null   object
 62  empo_2                              2000 non-null   object
 63  empo_3                              2000 non-null   object
 64  adiv_observed_otus                  2000 non-null   int64
 65  adiv_chao1                          2000 non-null   float64
 66  adiv_shannon                        2000 non-null   float64
 67  adiv_faith_pd                       2000 non-null   float64
 68  temperature_deg_c                   411 non-null    float64
 69  ph                                  284 non-null    float64
 70  salinity_psu                        121 non-null    float64
 71  oxygen_mg_per_l                     26 non-null     float64
 72  phosphate_umol_per_l                144 non-null    float64
 73  ammonium_umol_per_l                 81 non-null     float64
 74  nitrate_umol_per_l                  116 non-null    float64
 75  sulfate_umol_per_l                  17 non-null     float64
dtypes: bool(5), float64(17), int64(11), object(43)
memory usage: 1.1+ MB

43 object

In [63]:
dObjects = [c for c in data.columns if data[c].dtype.name ==
            'object']
dObjects

['#SampleID',
 'BarcodeSequence',
 'LinkerPrimerSequence',
 'Description',
 'host_subject_id',
 'title',
 'principal_investigator',
 'doi',
 'ebi_accession',
 'target_gene',
 'target_subfragment',
 'pcr_primers',
 'illumina_technology',
 'extraction_center',
 'run_center',
 'run_date',
 'sample_scientific_name',
 'host_common_name_provided',
 'host_common_name',
 'host_scientific_name',
 'host_superkingdom',
 'host_kingdom',
 'host_phylum',
 'host_class',
 'host_order',
 'host_family',
 'host_genus',
 'host_species',
 'collection_timestamp',
 'country',
 'env_biome',
 'env_feature',
 'env_material',
 'envo_biome_0',
 'envo_biome_1',
 'envo_biome_2',
 'envo_biome_3',
 'envo_biome_4',
 'envo_biome_5',
 'empo_0',
 'empo_1',
 'empo_2',
 'empo_3']

In [64]:
data[dObjects].describe()

,#SampleID,BarcodeSequence,LinkerPrimerSequence,Description,host_subject_id,title,principal_investigator,doi,ebi_accession,target_gene,...,envo_biome_0,envo_biome_1,envo_biome_2,envo_biome_3,envo_biome_4,envo_biome_5,empo_0,empo_1,empo_2,empo_3
count,2000,2000,2000,1977,1873,2000,2000,2000,2000,2000,...,2000,2000,1967,1443,840,78,2000,2000,2000,2000
unique,2000,1075,7,1054,1192,93,61,55,94,1,...,1,2,10,21,12,2,1,2,4,17
top,550.L1S116.s.1.sequence,AGCGGAGGTTAG,GTGCCAGCMGCCGCGGTAA,DNA from surface swab of Ecklonia radiat...,XXQIITAXX,The soil microbiome influences grapevine-assoc...,Rob Knight,Missing: Not provided,ERP006348,16S rRNA,...,biome,terrestrial biome,anthropogenic terrestrial biome,dense settlement biome,urban biome,marine coral reef biome,EMP sample,Host-associated,Animal,Animal surface
freq,1,8,1802,51,216,159,371,721,160,2000,...,2000,1105,889,484,476,56,2000,1019,640,143

In [65]:
data[dObjects].drop_duplicates().dropna().describe()

,#SampleID,BarcodeSequence,LinkerPrimerSequence,Description,host_subject_id,title,principal_investigator,doi,ebi_accession,target_gene,...,envo_biome_0,envo_biome_1,envo_biome_2,envo_biome_3,envo_biome_4,envo_biome_5,empo_0,empo_1,empo_2,empo_3
count,55,55,55,55,55,55,55,55,55,55,...,55,55,55,55,55,55,55,55,55,55
unique,55,49,2,12,55,4,4,3,4,1,...,1,2,2,2,2,2,1,1,2,3
top,910.AcrTA4,GTAACCACCACC,GTGCCAGCMGCCGCGGTAA,Coral tissue,AcrTA4,Biological oxygen demand optode analysis of co...,Forest Rohwer,10.7717/peerj.107,ERP016416,16S rRNA,...,biome,aquatic biome,marine biome,marine benthic biome,marine reef biome,marine coral reef biome,EMP sample,Host-associated,Animal,Animal corpus
freq,1,2,48,21,1,43,43,43,43,55,...,55,43,43,43,43,43,55,55,45,33

Если рассматриваем уникальные значения, то везде по 55 обджектов
Если рассматриваем повторябщиея значения и NaN то максимальное - 2000

4. Максимальное pH

In [66]:
print('Максимальное значение ph -', data['ph'].max())

Максимальное значение ph - 12.3

5. Характеристики данных по температуре

In [67]:
print('Среднее значение темпераутры - ',
      data['temperature_deg_c'].dropna().drop_duplicates().mean())
print('Станадртное отклонение темпераутры - ',
      data['temperature_deg_c'].dropna().drop_duplicates().std())

Среднее значение темпераутры -  18.037539112815246
Станадртное отклонение темпераутры -  17.582932072035497

6. Столбец с наименьшим количество заполненных строк

In [68]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 76 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   #SampleID                           2000 non-null   object
 1   BarcodeSequence                     2000 non-null   object
 2   LinkerPrimerSequence                2000 non-null   object
 3   Description                         1977 non-null   object
 4   host_subject_id                     1873 non-null   object
 5   study_id                            2000 non-null   int64
 6   title                               2000 non-null   object
 7   principal_investigator              2000 non-null   object
 8   doi                                 2000 non-null   object
 9   ebi_accession                       2000 non-null   object
 10  target_gene                         2000 non-null   object
 11  target_subfragment                  2000 non-null   object
 12  pcr_primers                         2000 non-null   object
 13  illumina_technology                 2000 non-null   object
 14  extraction_center                   2000 non-null   object
 15  run_center                          2000 non-null   object
 16  run_date                            2000 non-null   object
 17  read_length_bp                      2000 non-null   int64
 18  sequences_split_libraries           2000 non-null   int64
 19  observations_closed_ref_greengenes  2000 non-null   int64
 20  observations_closed_ref_silva       2000 non-null   int64
 21  observations_open_ref_greengenes    2000 non-null   int64
 22  observations_deblur_90bp            2000 non-null   int64
 23  observations_deblur_100bp           2000 non-null   int64
 24  observations_deblur_150bp           2000 non-null   int64
 25  emp_release1                        2000 non-null   bool
 26  qc_filtered                         2000 non-null   bool
 27  subset_10k                          2000 non-null   bool
 28  subset_5k                           2000 non-null   bool
 29  subset_2k                           2000 non-null   bool
 30  sample_taxid                        2000 non-null   int64
 31  sample_scientific_name              2000 non-null   object
 32  host_taxid                          909 non-null    float64
 33  host_common_name_provided           848 non-null    object
 34  host_common_name                    705 non-null    object
 35  host_scientific_name                909 non-null    object
 36  host_superkingdom                   909 non-null    object
 37  host_kingdom                        909 non-null    object
 38  host_phylum                         909 non-null    object
 39  host_class                          909 non-null    object
 40  host_order                          909 non-null    object
 41  host_family                         909 non-null    object
 42  host_genus                          909 non-null    object
 43  host_species                        909 non-null    object
 44  collection_timestamp                1759 non-null   object
 45  country                             2000 non-null   object
 46  latitude_deg                        1998 non-null   float64
 47  longitude_deg                       1998 non-null   float64
 48  depth_m                             1750 non-null   float64
 49  altitude_m                          1919 non-null   float64
 50  elevation_m                         1981 non-null   float64
 51  env_biome                           2000 non-null   object
 52  env_feature                         2000 non-null   object
 53  env_material                        2000 non-null   object
 54  envo_biome_0                        2000 non-null   object
 55  envo_biome_1                        2000 non-null   object
 56  envo_biome_2                        1967 non-null   object
 57  envo_biome_3                        1443 non-null   object
 58  envo_biome_4                        840 non-null    object
 59  envo_biome_5                        78 non-null     object
 60  empo_0                              2000 non-null   object
 61  empo_1                              2000 non-null   object
 62  empo_2                              2000 non-null   object
 63  empo_3                              2000 non-null   object
 64  adiv_observed_otus                  2000 non-null   int64
 65  adiv_chao1                          2000 non-null   float64
 66  adiv_shannon                        2000 non-null   float64
 67  adiv_faith_pd                       2000 non-null   float64
 68  temperature_deg_c                   411 non-null    float64
 69  ph                                  284 non-null    float64
 70  salinity_psu                        121 non-null    float64
 71  oxygen_mg_per_l                     26 non-null     float64
 72  phosphate_umol_per_l                144 non-null    float64
 73  ammonium_umol_per_l                 81 non-null     float64
 74  nitrate_umol_per_l                  116 non-null    float64
 75  sulfate_umol_per_l                  17 non-null     float64
dtypes: bool(5), float64(17), int64(11), object(43)
memory usage: 1.1+ MB

In [69]:
dObjects = [c for c in data.columns if data[c].dtype.name ==
            'object']
max = 0
for c in data.columns:
    counter = data[c].isna().sum()
    if counter > max:
        max = counter
        col = c

print('Наибольшее количество NaN в - ')
print(col, max)

Наибольшее количество NaN в -
sulfate_umol_per_l 1983

1. Создание новой серии

In [70]:
temp = data['temperature_deg_c']
temp.info()

<class 'pandas.core.series.Series'>
RangeIndex: 2000 entries, 0 to 1999
Series name: temperature_deg_c
Non-Null Count  Dtype
--------------  -----
411 non-null    float64
dtypes: float64(1)
memory usage: 15.8 KB

In [71]:
temp.dropna().describe()

count    411.000000
mean      18.491088
std       16.672381
min      -15.000000
25%        9.714750
50%       15.240000
75%       20.207798
max       91.000000
Name: temperature_deg_c, dtype: float64

Все значения в серии не NaN

2. Создание датафрейма с высокой температурой

In [72]:
hot_df = data[data['temperature_deg_c'] >= 50]
hot_df

,#SampleID,BarcodeSequence,LinkerPrimerSequence,Description,host_subject_id,study_id,title,principal_investigator,doi,ebi_accession,...,adiv_shannon,adiv_faith_pd,temperature_deg_c,ph,salinity_psu,oxygen_mg_per_l,phosphate_umol_per_l,ammonium_umol_per_l,nitrate_umol_per_l,sulfate_umol_per_l
228,804.3862.1219,GAAGAGGGTTGA,GTGCCAGCMGCCGCGGTAA,"active chimney (Poseidon, south side)",3862.1219,804,Biofilms on carbonate chimneys of the Lost Cit...,William Brazelton,10.1073/pnas.0905369107,ERP016395,...,4.023343,15.143178,88.0,10.20,NaN,NaN,0.36,NaN,NaN,2.9
229,804.3862.1325,GGCACACCCTTA,GTGCCAGCMGCCGCGGTAA,"active chimney (Poseidon, south side)",3862.1325,804,Biofilms on carbonate chimneys of the Lost Cit...,William Brazelton,10.1073/pnas.0905369107,ERP016395,...,6.285242,44.991477,88.0,10.20,NaN,NaN,0.36,NaN,NaN,2.9
230,804.3869.1404,GACTCTGCTCAG,GTGCCAGCMGCCGCGGTAA,active chimney flange (marker C),3869.1404,804,Biofilms on carbonate chimneys of the Lost Cit...,William Brazelton,10.1073/pnas.0905369107,ERP016395,...,9.874004,215.888795,70.0,10.10,NaN,NaN,0.52,NaN,NaN,3.3
231,804.3869.1446,CGGACTCGTTAC,GTGCCAGCMGCCGCGGTAA,active chimney flange (marker C),3869.1446,804,Biofilms on carbonate chimneys of the Lost Cit...,William Brazelton,10.1073/pnas.0905369107,ERP016395,...,5.232427,36.004004,70.0,10.10,NaN,NaN,0.52,NaN,NaN,3.3
236,804.3876.1436,CACCGTGACACT,GTGCCAGCMGCCGCGGTAA,active chimney (beehive),3876.1436,804,Biofilms on carbonate chimneys of the Lost Cit...,William Brazelton,10.1073/pnas.0905369107,ERP016395,...,7.722516,89.444762,91.0,10.70,NaN,NaN,0.05,NaN,NaN,3.7
246,804.3869.1443E,CGTCCGTATGAA,GTGCCAGCMGCCGCGGTAA,active chimney flange (marker C),3869.1443E,804,Biofilms on carbonate chimneys of the Lost Cit...,William Brazelton,10.1073/pnas.0905369107,ERP016395,...,5.869747,27.575064,70.0,10.10,NaN,NaN,0.52,NaN,NaN,3.3
247,804.3871.1442.dark.side,GTTACAGTTGGC,GTGCCAGCMGCCGCGGTAA,biofilm from active chimney flange (marker 2),3871.1442.dark.side,804,Biofilms on carbonate chimneys of the Lost Cit...,William Brazelton,10.1073/pnas.0905369107,ERP016395,...,6.022278,43.174784,55.0,10.97,NaN,NaN,3.00,NaN,NaN,1.0
265,804.H06.073005.Bio2slurpA2.0326,AAGGAGTGCGCA,GTGCCAGCMGCCGCGGTAA,beehive on side of Poseidon,H06.073005.Bio2slurpA2.0326,804,Biofilms on carbonate chimneys of the Lost Cit...,William Brazelton,10.1073/pnas.0905369107,ERP016395,...,1.250684,12.403604,91.0,10.70,NaN,NaN,NaN,NaN,NaN,NaN
266,804.H06.073005.R0316,AGCACTTTGAGA,GTGCCAGCMGCCGCGGTAA,active chimney (beehive),H06.073005.R0316,804,Biofilms on carbonate chimneys of the Lost Cit...,William Brazelton,10.1073/pnas.0905369107,ERP016395,...,5.750873,29.940008,91.0,10.70,NaN,NaN,0.05,NaN,NaN,3.7
412,895.Puhimau.soil.1,GCAATCCTTGCG,GTGCCAGCMGCCGCGGTAA,geothermal field soil,Puhimau.soil.1,895,Kilauea geothermal soils and biofilms,Gary M. King,Missing: Not provided,ERP020591,...,3.668589,12.987861,74.6,6.36,NaN,NaN,NaN,NaN,NaN,NaN
413,895.Puhimau.soil.2,CCTGCTTCCTTC,GTGCCAGCMGCCGCGGTAA,geothermal field soil,Puhimau.soil.2,895,Kilauea geothermal soils and biofilms,Gary M. King,Missing: Not provided,ERP020591,...,2.799970,15.076536,90.0,6.13,NaN,NaN,NaN,NaN,NaN,NaN
414,895.Puhimau.soil.3,CAAGGCACAAGG,GTGCCAGCMGCCGCGGTAA,geothermal field soil,Puhimau.soil.3,895,Kilauea geothermal soils and biofilms,Gary M. King,Missing: Not provided,ERP020591,...,4.124025,18.407103,63.1,6.78,NaN,NaN,NaN,NaN,NaN,NaN
487,925.SJ3y,GCTGATGAGCTG,GTGCCAGCMGCCGCGGTAA,Steep_Channel_2 SJ3y,SJ3y,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,3.730913,11.545682,57.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
489,925.SH5x,GCCTATACTACA,GTGCCAGCMGCCGCGGTAA,Steep_Channel_2 SH5x,SH5x,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,2.784131,6.656986,65.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
490,925.SH4y,GATCTTCAGTAC,GTGCCAGCMGCCGCGGTAA,Steep_Channel_2 SH4y,SH4y,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,2.897742,8.689644,62.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
492,925.SG4y,GCACTGAGACGT,GTGCCAGCMGCCGCGGTAA,Steep_Channel_2 SG4y,SG4y,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,2.778651,8.519267,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
493,925.SF4z,GCTAAGAGAGTA,GTGCCAGCMGCCGCGGTAA,Steep_Channel_2 SF4z,SF4z,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,2.889447,9.986811,69.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
495,925.SE2y,GACAGGAGATAG,GTGCCAGCMGCCGCGGTAA,Steep_Channel_1 SE2y,SE2y,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,3.842261,13.274794,60.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,925.SC2y,CCGACTGAGATG,GTGCCAGCMGCCGCGGTAA,Steep_Channel_1 SC2y,SC2y,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,4.348377,13.123659,51.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
502,925.IM5x,CGGAGTGTCTAT,GTGCCAGCMGCCGCGGTAA,Imperial_runoff_channel IM5x,IM5x,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,4.464075,16.649477,52.0,9.00,NaN,NaN,NaN,NaN,NaN,NaN
503,925.IM1z,CAGTGATCCTAG,GTGCCAGCMGCCGCGGTAA,Imperial_runoff_channel IM1z,IM1z,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,3.856440,18.735486,52.0,9.00,NaN,NaN,NaN,NaN,NaN,NaN
504,925.IJ5y,CAAGTGAGAGAG,GTGCCAGCMGCCGCGGTAA,Imperial_runoff_channel IJ5y,IJ5y,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,3.158922,11.227287,64.2,8.78,NaN,NaN,NaN,NaN,NaN,NaN
505,925.IJ3z,CATATCGCAGTT,GTGCCAGCMGCCGCGGTAA,Imperial_runoff_channel IJ3z,IJ3z,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,5.188677,26.294077,64.2,8.78,NaN,NaN,NaN,NaN,NaN,NaN
506,925.IJ1x,CATATACTCGCA,GTGCCAGCMGCCGCGGTAA,Imperial_runoff_channel IJ1x,IJ1x,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,6.441962,43.166302,64.2,8.78,NaN,NaN,NaN,NaN,NaN,NaN
507,925.IH4z,CATAGACGTTCG,GTGCCAGCMGCCGCGGTAA,Imperial_Pool_at_runoff_channel IH4z,IH4z,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,3.997792,14.494032,63.4,8.79,NaN,NaN,NaN,NaN,NaN,NaN
508,925.IH2x,CATACCAGTAGC,GTGCCAGCMGCCGCGGTAA,Imperial_Pool_at_runoff_channel IH2x,IH2x,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,3.974242,10.465351,63.4,8.79,NaN,NaN,NaN,NaN,NaN,NaN
509,925.IG5y,ATCGCTCGAGGA,GTGCCAGCMGCCGCGGTAA,Imperial_Pool_at_runoff_channel IG5y,IG5y,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,3.888878,13.536417,68.0,8.75,NaN,NaN,NaN,NaN,NaN,NaN
510,925.IG2y,ATACTATTGCGC,GTGCCAGCMGCCGCGGTAA,Imperial_Pool_at_runoff_channel IG2y,IG2y,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,4.310350,14.614838,68.0,8.75,NaN,NaN,NaN,NaN,NaN,NaN
511,925.IG1z,AGAACACGTCTC,GTGCCAGCMGCCGCGGTAA,Imperial_Pool_at_runoff_channel IG1z,IG1z,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,4.122010,18.142526,68.0,8.75,NaN,NaN,NaN,NaN,NaN,NaN
512,925.IF5z,ACCACATACATC,GTGCCAGCMGCCGCGGTAA,Imperial_pool_at_source IF5z,IF5z,925,Yellowstone gradients,Greg Caporaso,Missing: Not provided,ERP022167,...,2.954029,10.782495,61.0,8.91,NaN,NaN,NaN,NaN,NaN,NaN

3. Создание датафрейма из столбцов 17-23

In [73]:
data.shape
df_seqs = data.iloc[1:2000, 17:23]
df_seqs

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp
1,132,40944,39472,39929,40870,27871
2,132,35636,34550,34666,35599,24134
3,132,46992,43925,43852,46875,30041
4,132,30131,29179,29553,30094,21132
5,132,29907,29034,29310,29865,20875
...,...,...,...,...,...,...
1995,150,125047,124344,123968,124983,90850
1996,150,138753,138268,138165,138702,115902
1997,150,345657,243403,272832,342881,204706
1998,150,89747,62332,70308,88986,53892
1999,150,92336,66419,71897,90693,50070

In [74]:
df_seqs['observations_deblur_90bp'].mean()

64810.17508754377

4. Сохраняю как новый csv файл

In [75]:
df_seqs.to_csv('df_seqs.csv')

1. Создание тейла и хэда

In [76]:
df_seqs_head = df_seqs.iloc[:5]
df_seqs_tail = df_seqs.iloc[1994:]

2. Конкатинация

In [77]:
pd.concat([df_seqs_head, df_seqs_tail], sort=False, axis=0)

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp
1,132,40944,39472,39929,40870,27871
2,132,35636,34550,34666,35599,24134
3,132,46992,43925,43852,46875,30041
4,132,30131,29179,29553,30094,21132
5,132,29907,29034,29310,29865,20875
1995,150,125047,124344,123968,124983,90850
1996,150,138753,138268,138165,138702,115902
1997,150,345657,243403,272832,342881,204706
1998,150,89747,62332,70308,88986,53892
1999,150,92336,66419,71897,90693,50070

3. Аппенд

In [78]:
df_seqs_head.append(df_seqs_tail)

C:\Users\alexd\AppData\Local\Temp\ipykernel_10460\398010665.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df_seqs_head.append(df_seqs_tail)

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp
1,132,40944,39472,39929,40870,27871
2,132,35636,34550,34666,35599,24134
3,132,46992,43925,43852,46875,30041
4,132,30131,29179,29553,30094,21132
5,132,29907,29034,29310,29865,20875
1995,150,125047,124344,123968,124983,90850
1996,150,138753,138268,138165,138702,115902
1997,150,345657,243403,272832,342881,204706
1998,150,89747,62332,70308,88986,53892
1999,150,92336,66419,71897,90693,50070

4. Создание нового датафрейма с физическими показателями

In [79]:
df_phys = data[['temperature_deg_c', 'ph', 'salinity_psu']]
df_phys = df_phys.drop_duplicates().dropna()
df_phys

      temperature_deg_c       ph  salinity_psu
101            11.00000  8.03000      35.40000
102            10.80000  7.85000      35.30000
103            12.10000  7.69000      35.30000
104            11.00000  7.33000      35.40000
105            11.10000  7.21000      35.30000
106            11.60000  6.77000      35.30000
415             6.00000  7.80000      32.00000
427            17.00000  7.80000      32.00000
428            17.00000  7.80000      31.00000
429            17.00000  7.80000      25.00000
641            15.00000  6.94000       7.15000
644            15.00000  6.80000       7.15000
645            15.00000  6.80000       7.10000
649            15.00000  6.82000       7.44000
702             3.52980  8.26300       0.13570
703             3.54490  8.27300       0.13590
704             3.54770  8.20300       0.13590
705             3.53180  8.21800       0.13610
706             2.80620  7.87200       0.04410
707             3.34630  7.78000       0.04440
708             3.33790  7.78000       0.04430
709             2.55500  7.78700       0.04420
710             2.79340  7.92200       0.04390
711             2.86900  7.95100       0.04410
712             2.91400  7.96600       0.04410
1584            2.00000  7.90000      31.00000
1588            5.10000  8.00000      32.00000
1604           11.20000  7.70000      27.00000
1618            7.70000  7.90000      28.00000
1619            6.90000  7.90000      29.00000
1620            4.80000  8.00000      32.00000
1637           11.40000  7.90000      27.00000
1650            5.20000  7.80000      30.00000
1651           10.50000  7.90000      28.00000
1663            2.50000  7.90000      31.00000
1672            8.80000  7.90000      19.00000
1674            4.90000  7.90000      31.00000
1688           24.10180  8.07955      37.05380
1689           10.01950  7.69030      35.35580
1690           24.71660  8.08055      37.06590
1694           26.16555  8.07290      36.56445
1695           10.18475  7.63080      35.12975
1696           27.59770  8.07640      35.88620

In [80]:
df_empo = data['empo_3']
df_empo

0       Animal distal gut
1       Animal distal gut
2       Animal distal gut
3       Animal distal gut
4       Animal distal gut
              ...
1995         Plant corpus
1996         Plant corpus
1997    Plant rhizosphere
1998    Plant rhizosphere
1999    Plant rhizosphere
Name: empo_3, Length: 2000, dtype: object

4. Объединение через merge по индексам

In [81]:
df_merged = df_seqs.merge(df_phys, how='inner',
                          right_index=True, left_index=True)
df_merged

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,temperature_deg_c,ph,salinity_psu
101,143,87912,58613,63549,86707,40702,11.00000,8.03000,35.40000
102,143,31471,20139,22078,31110,15180,10.80000,7.85000,35.30000
103,143,39155,26873,29378,38811,18674,12.10000,7.69000,35.30000
104,143,125273,80853,87524,122662,53128,11.00000,7.33000,35.40000
105,143,51547,31107,35511,50810,20626,11.10000,7.21000,35.30000
106,143,41795,27680,30661,41181,19904,11.60000,6.77000,35.30000
415,151,74433,72361,72422,74137,60257,6.00000,7.80000,32.00000
427,151,56529,52009,53397,55775,37752,17.00000,7.80000,32.00000
428,151,81360,62069,64121,77216,42974,17.00000,7.80000,31.00000
429,151,86396,67615,70300,83649,45968,17.00000,7.80000,25.00000
641,151,19246,12706,13933,16858,8550,15.00000,6.94000,7.15000
644,151,17607,13453,14417,16246,10074,15.00000,6.80000,7.15000
645,151,23216,14194,15849,19699,9922,15.00000,6.80000,7.10000
649,151,30409,21163,23365,28187,17099,15.00000,6.82000,7.44000
702,151,122842,100806,102750,121650,89224,3.52980,8.26300,0.13570
703,151,102431,86209,87555,101475,74234,3.54490,8.27300,0.13590
704,151,49580,42467,43288,49246,37515,3.54770,8.20300,0.13590
705,151,58082,49304,51161,57585,44177,3.53180,8.21800,0.13610
706,151,110506,88902,93882,109789,81988,2.80620,7.87200,0.04410
707,151,117090,88097,93514,115938,89941,3.34630,7.78000,0.04440
708,151,101388,75896,80347,100439,78116,3.33790,7.78000,0.04430
709,151,119772,97392,101705,118801,87447,2.55500,7.78700,0.04420
710,151,105644,86927,90093,104915,79111,2.79340,7.92200,0.04390
711,151,123277,101363,105221,122260,90014,2.86900,7.95100,0.04410
712,151,91567,75505,78788,90869,67312,2.91400,7.96600,0.04410
1584,138,41108,28559,29058,40525,23583,2.00000,7.90000,31.00000
1588,138,96699,83856,85761,95392,52987,5.10000,8.00000,32.00000
1604,138,81624,67906,71711,79895,44289,11.20000,7.70000,27.00000
1618,138,72703,60135,62858,71485,38725,7.70000,7.90000,28.00000
1619,138,173795,119616,128395,165041,72080,6.90000,7.90000,29.00000
1620,138,108647,91309,92367,106952,58889,4.80000,8.00000,32.00000
1637,138,78947,65564,69148,77345,42623,11.40000,7.90000,27.00000
1650,138,79152,63717,64458,78116,44084,5.20000,7.80000,30.00000
1651,138,82922,71068,72821,81748,45371,10.50000,7.90000,28.00000
1663,138,132838,99906,101780,131234,77607,2.50000,7.90000,31.00000
1672,138,63140,49893,52148,61322,34857,8.80000,7.90000,19.00000
1674,138,68757,59761,60990,67830,37483,4.90000,7.90000,31.00000
1688,151,31252,25948,26884,29526,18410,24.10180,8.07955,37.05380
1689,151,34205,28684,29181,32212,19362,10.01950,7.69030,35.35580
1690,151,24932,20969,21769,23830,14803,24.71660,8.08055,37.06590
1694,151,29707,22570,24546,28216,16449,26.16555,8.07290,36.56445
1695,151,29357,24175,24822,27734,15987,10.18475,7.63080,35.12975
1696,151,27375,22391,24025,26125,16601,27.59770,8.07640,35.88620

6. Объединение через join()

In [82]:
df_merged = df_merged.join(df_empo)
df_merged

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,temperature_deg_c,ph,salinity_psu,empo_3
101,143,87912,58613,63549,86707,40702,11.00000,8.03000,35.40000,Sediment (saline)
102,143,31471,20139,22078,31110,15180,10.80000,7.85000,35.30000,Sediment (saline)
103,143,39155,26873,29378,38811,18674,12.10000,7.69000,35.30000,Sediment (saline)
104,143,125273,80853,87524,122662,53128,11.00000,7.33000,35.40000,Sediment (saline)
105,143,51547,31107,35511,50810,20626,11.10000,7.21000,35.30000,Sediment (saline)
106,143,41795,27680,30661,41181,19904,11.60000,6.77000,35.30000,Sediment (saline)
415,151,74433,72361,72422,74137,60257,6.00000,7.80000,32.00000,Sediment (saline)
427,151,56529,52009,53397,55775,37752,17.00000,7.80000,32.00000,Sediment (saline)
428,151,81360,62069,64121,77216,42974,17.00000,7.80000,31.00000,Sediment (saline)
429,151,86396,67615,70300,83649,45968,17.00000,7.80000,25.00000,Sediment (saline)
641,151,19246,12706,13933,16858,8550,15.00000,6.94000,7.15000,Soil (non-saline)
644,151,17607,13453,14417,16246,10074,15.00000,6.80000,7.15000,Plant rhizosphere
645,151,23216,14194,15849,19699,9922,15.00000,6.80000,7.10000,Soil (non-saline)
649,151,30409,21163,23365,28187,17099,15.00000,6.82000,7.44000,Plant rhizosphere
702,151,122842,100806,102750,121650,89224,3.52980,8.26300,0.13570,Water (non-saline)
703,151,102431,86209,87555,101475,74234,3.54490,8.27300,0.13590,Water (non-saline)
704,151,49580,42467,43288,49246,37515,3.54770,8.20300,0.13590,Water (non-saline)
705,151,58082,49304,51161,57585,44177,3.53180,8.21800,0.13610,Water (non-saline)
706,151,110506,88902,93882,109789,81988,2.80620,7.87200,0.04410,Water (non-saline)
707,151,117090,88097,93514,115938,89941,3.34630,7.78000,0.04440,Water (non-saline)
708,151,101388,75896,80347,100439,78116,3.33790,7.78000,0.04430,Water (non-saline)
709,151,119772,97392,101705,118801,87447,2.55500,7.78700,0.04420,Water (non-saline)
710,151,105644,86927,90093,104915,79111,2.79340,7.92200,0.04390,Water (non-saline)
711,151,123277,101363,105221,122260,90014,2.86900,7.95100,0.04410,Water (non-saline)
712,151,91567,75505,78788,90869,67312,2.91400,7.96600,0.04410,Water (non-saline)
1584,138,41108,28559,29058,40525,23583,2.00000,7.90000,31.00000,Water (saline)
1588,138,96699,83856,85761,95392,52987,5.10000,8.00000,32.00000,Water (saline)
1604,138,81624,67906,71711,79895,44289,11.20000,7.70000,27.00000,Water (saline)
1618,138,72703,60135,62858,71485,38725,7.70000,7.90000,28.00000,Water (saline)
1619,138,173795,119616,128395,165041,72080,6.90000,7.90000,29.00000,Water (saline)
1620,138,108647,91309,92367,106952,58889,4.80000,8.00000,32.00000,Water (saline)
1637,138,78947,65564,69148,77345,42623,11.40000,7.90000,27.00000,Water (saline)
1650,138,79152,63717,64458,78116,44084,5.20000,7.80000,30.00000,Water (saline)
1651,138,82922,71068,72821,81748,45371,10.50000,7.90000,28.00000,Water (saline)
1663,138,132838,99906,101780,131234,77607,2.50000,7.90000,31.00000,Water (saline)
1672,138,63140,49893,52148,61322,34857,8.80000,7.90000,19.00000,Water (saline)
1674,138,68757,59761,60990,67830,37483,4.90000,7.90000,31.00000,Water (saline)
1688,151,31252,25948,26884,29526,18410,24.10180,8.07955,37.05380,Water (saline)
1689,151,34205,28684,29181,32212,19362,10.01950,7.69030,35.35580,Water (saline)
1690,151,24932,20969,21769,23830,14803,24.71660,8.08055,37.06590,Water (saline)
1694,151,29707,22570,24546,28216,16449,26.16555,8.07290,36.56445,Water (saline)
1695,151,29357,24175,24822,27734,15987,10.18475,7.63080,35.12975,Water (saline)
1696,151,27375,22391,24025,26125,16601,27.59770,8.07640,35.88620,Water (saline)

In [83]:
df_merged.info()
df_merged.describe()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 43 entries, 101 to 1696
Data columns (total 10 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   read_length_bp                      43 non-null     int64
 1   sequences_split_libraries           43 non-null     int64
 2   observations_closed_ref_greengenes  43 non-null     int64
 3   observations_closed_ref_silva       43 non-null     int64
 4   observations_open_ref_greengenes    43 non-null     int64
 5   observations_deblur_90bp            43 non-null     int64
 6   temperature_deg_c                   43 non-null     float64
 7   ph                                  43 non-null     float64
 8   salinity_psu                        43 non-null     float64
 9   empo_3                              43 non-null     object
dtypes: float64(3), int64(6), object(1)
memory usage: 4.7+ KB

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,temperature_deg_c,ph,salinity_psu
count,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000,43.000000
mean,146.255814,72690.418605,57203.023256,59710.023256,71175.418605,44048.348837,9.840974,7.762453,21.482526
std,5.863905,38048.119217,29864.632816,30842.238502,37642.359953,25818.915939,6.927144,0.399458,14.962730
min,138.000000,17607.000000,12706.000000,13933.000000,16246.000000,8550.000000,2.000000,6.770000,0.043900
25%,138.000000,36680.000000,27276.500000,29119.500000,35511.500000,19018.000000,3.538350,7.740000,3.618050
50%,151.000000,74433.000000,60135.000000,63549.000000,74137.000000,42623.000000,10.019500,7.900000,29.000000
75%,151.000000,101909.500000,82354.500000,86642.500000,100957.000000,63784.500000,13.550000,7.983000,35.214875
max,151.000000,173795.000000,119616.000000,128395.000000,165041.000000,90014.000000,27.597700,8.273000,37.065900

1. Перевожу температуру в Фаренгейты

In [84]:
df_merged = df_merged.assign(F=df_merged.temperature_deg_c * 1.8 + 32)
df_merged

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,temperature_deg_c,ph,salinity_psu,empo_3,F
101,143,87912,58613,63549,86707,40702,11.00000,8.03000,35.40000,Sediment (saline),51.80000
102,143,31471,20139,22078,31110,15180,10.80000,7.85000,35.30000,Sediment (saline),51.44000
103,143,39155,26873,29378,38811,18674,12.10000,7.69000,35.30000,Sediment (saline),53.78000
104,143,125273,80853,87524,122662,53128,11.00000,7.33000,35.40000,Sediment (saline),51.80000
105,143,51547,31107,35511,50810,20626,11.10000,7.21000,35.30000,Sediment (saline),51.98000
106,143,41795,27680,30661,41181,19904,11.60000,6.77000,35.30000,Sediment (saline),52.88000
415,151,74433,72361,72422,74137,60257,6.00000,7.80000,32.00000,Sediment (saline),42.80000
427,151,56529,52009,53397,55775,37752,17.00000,7.80000,32.00000,Sediment (saline),62.60000
428,151,81360,62069,64121,77216,42974,17.00000,7.80000,31.00000,Sediment (saline),62.60000
429,151,86396,67615,70300,83649,45968,17.00000,7.80000,25.00000,Sediment (saline),62.60000
641,151,19246,12706,13933,16858,8550,15.00000,6.94000,7.15000,Soil (non-saline),59.00000
644,151,17607,13453,14417,16246,10074,15.00000,6.80000,7.15000,Plant rhizosphere,59.00000
645,151,23216,14194,15849,19699,9922,15.00000,6.80000,7.10000,Soil (non-saline),59.00000
649,151,30409,21163,23365,28187,17099,15.00000,6.82000,7.44000,Plant rhizosphere,59.00000
702,151,122842,100806,102750,121650,89224,3.52980,8.26300,0.13570,Water (non-saline),38.35364
703,151,102431,86209,87555,101475,74234,3.54490,8.27300,0.13590,Water (non-saline),38.38082
704,151,49580,42467,43288,49246,37515,3.54770,8.20300,0.13590,Water (non-saline),38.38586
705,151,58082,49304,51161,57585,44177,3.53180,8.21800,0.13610,Water (non-saline),38.35724
706,151,110506,88902,93882,109789,81988,2.80620,7.87200,0.04410,Water (non-saline),37.05116
707,151,117090,88097,93514,115938,89941,3.34630,7.78000,0.04440,Water (non-saline),38.02334
708,151,101388,75896,80347,100439,78116,3.33790,7.78000,0.04430,Water (non-saline),38.00822
709,151,119772,97392,101705,118801,87447,2.55500,7.78700,0.04420,Water (non-saline),36.59900
710,151,105644,86927,90093,104915,79111,2.79340,7.92200,0.04390,Water (non-saline),37.02812
711,151,123277,101363,105221,122260,90014,2.86900,7.95100,0.04410,Water (non-saline),37.16420
712,151,91567,75505,78788,90869,67312,2.91400,7.96600,0.04410,Water (non-saline),37.24520
1584,138,41108,28559,29058,40525,23583,2.00000,7.90000,31.00000,Water (saline),35.60000
1588,138,96699,83856,85761,95392,52987,5.10000,8.00000,32.00000,Water (saline),41.18000
1604,138,81624,67906,71711,79895,44289,11.20000,7.70000,27.00000,Water (saline),52.16000
1618,138,72703,60135,62858,71485,38725,7.70000,7.90000,28.00000,Water (saline),45.86000
1619,138,173795,119616,128395,165041,72080,6.90000,7.90000,29.00000,Water (saline),44.42000
1620,138,108647,91309,92367,106952,58889,4.80000,8.00000,32.00000,Water (saline),40.64000
1637,138,78947,65564,69148,77345,42623,11.40000,7.90000,27.00000,Water (saline),52.52000
1650,138,79152,63717,64458,78116,44084,5.20000,7.80000,30.00000,Water (saline),41.36000
1651,138,82922,71068,72821,81748,45371,10.50000,7.90000,28.00000,Water (saline),50.90000
1663,138,132838,99906,101780,131234,77607,2.50000,7.90000,31.00000,Water (saline),36.50000
1672,138,63140,49893,52148,61322,34857,8.80000,7.90000,19.00000,Water (saline),47.84000
1674,138,68757,59761,60990,67830,37483,4.90000,7.90000,31.00000,Water (saline),40.82000
1688,151,31252,25948,26884,29526,18410,24.10180,8.07955,37.05380,Water (saline),75.38324
1689,151,34205,28684,29181,32212,19362,10.01950,7.69030,35.35580,Water (saline),50.03510
1690,151,24932,20969,21769,23830,14803,24.71660,8.08055,37.06590,Water (saline),76.48988
1694,151,29707,22570,24546,28216,16449,26.16555,8.07290,36.56445,Water (saline),79.09799
1695,151,29357,24175,24822,27734,15987,10.18475,7.63080,35.12975,Water (saline),50.33255
1696,151,27375,22391,24025,26125,16601,27.59770,8.07640,35.88620,Water (saline),81.67586

In [85]:
def f(c):
    return c * 1.8 + 32

In [86]:
df_merged['F2'] = df_merged['temperature_deg_c'].apply(f)
df_merged

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,temperature_deg_c,ph,salinity_psu,empo_3,F,F2
101,143,87912,58613,63549,86707,40702,11.00000,8.03000,35.40000,Sediment (saline),51.80000,51.80000
102,143,31471,20139,22078,31110,15180,10.80000,7.85000,35.30000,Sediment (saline),51.44000,51.44000
103,143,39155,26873,29378,38811,18674,12.10000,7.69000,35.30000,Sediment (saline),53.78000,53.78000
104,143,125273,80853,87524,122662,53128,11.00000,7.33000,35.40000,Sediment (saline),51.80000,51.80000
105,143,51547,31107,35511,50810,20626,11.10000,7.21000,35.30000,Sediment (saline),51.98000,51.98000
106,143,41795,27680,30661,41181,19904,11.60000,6.77000,35.30000,Sediment (saline),52.88000,52.88000
415,151,74433,72361,72422,74137,60257,6.00000,7.80000,32.00000,Sediment (saline),42.80000,42.80000
427,151,56529,52009,53397,55775,37752,17.00000,7.80000,32.00000,Sediment (saline),62.60000,62.60000
428,151,81360,62069,64121,77216,42974,17.00000,7.80000,31.00000,Sediment (saline),62.60000,62.60000
429,151,86396,67615,70300,83649,45968,17.00000,7.80000,25.00000,Sediment (saline),62.60000,62.60000
641,151,19246,12706,13933,16858,8550,15.00000,6.94000,7.15000,Soil (non-saline),59.00000,59.00000
644,151,17607,13453,14417,16246,10074,15.00000,6.80000,7.15000,Plant rhizosphere,59.00000,59.00000
645,151,23216,14194,15849,19699,9922,15.00000,6.80000,7.10000,Soil (non-saline),59.00000,59.00000
649,151,30409,21163,23365,28187,17099,15.00000,6.82000,7.44000,Plant rhizosphere,59.00000,59.00000
702,151,122842,100806,102750,121650,89224,3.52980,8.26300,0.13570,Water (non-saline),38.35364,38.35364
703,151,102431,86209,87555,101475,74234,3.54490,8.27300,0.13590,Water (non-saline),38.38082,38.38082
704,151,49580,42467,43288,49246,37515,3.54770,8.20300,0.13590,Water (non-saline),38.38586,38.38586
705,151,58082,49304,51161,57585,44177,3.53180,8.21800,0.13610,Water (non-saline),38.35724,38.35724
706,151,110506,88902,93882,109789,81988,2.80620,7.87200,0.04410,Water (non-saline),37.05116,37.05116
707,151,117090,88097,93514,115938,89941,3.34630,7.78000,0.04440,Water (non-saline),38.02334,38.02334
708,151,101388,75896,80347,100439,78116,3.33790,7.78000,0.04430,Water (non-saline),38.00822,38.00822
709,151,119772,97392,101705,118801,87447,2.55500,7.78700,0.04420,Water (non-saline),36.59900,36.59900
710,151,105644,86927,90093,104915,79111,2.79340,7.92200,0.04390,Water (non-saline),37.02812,37.02812
711,151,123277,101363,105221,122260,90014,2.86900,7.95100,0.04410,Water (non-saline),37.16420,37.16420
712,151,91567,75505,78788,90869,67312,2.91400,7.96600,0.04410,Water (non-saline),37.24520,37.24520
1584,138,41108,28559,29058,40525,23583,2.00000,7.90000,31.00000,Water (saline),35.60000,35.60000
1588,138,96699,83856,85761,95392,52987,5.10000,8.00000,32.00000,Water (saline),41.18000,41.18000
1604,138,81624,67906,71711,79895,44289,11.20000,7.70000,27.00000,Water (saline),52.16000,52.16000
1618,138,72703,60135,62858,71485,38725,7.70000,7.90000,28.00000,Water (saline),45.86000,45.86000
1619,138,173795,119616,128395,165041,72080,6.90000,7.90000,29.00000,Water (saline),44.42000,44.42000
1620,138,108647,91309,92367,106952,58889,4.80000,8.00000,32.00000,Water (saline),40.64000,40.64000
1637,138,78947,65564,69148,77345,42623,11.40000,7.90000,27.00000,Water (saline),52.52000,52.52000
1650,138,79152,63717,64458,78116,44084,5.20000,7.80000,30.00000,Water (saline),41.36000,41.36000
1651,138,82922,71068,72821,81748,45371,10.50000,7.90000,28.00000,Water (saline),50.90000,50.90000
1663,138,132838,99906,101780,131234,77607,2.50000,7.90000,31.00000,Water (saline),36.50000,36.50000
1672,138,63140,49893,52148,61322,34857,8.80000,7.90000,19.00000,Water (saline),47.84000,47.84000
1674,138,68757,59761,60990,67830,37483,4.90000,7.90000,31.00000,Water (saline),40.82000,40.82000
1688,151,31252,25948,26884,29526,18410,24.10180,8.07955,37.05380,Water (saline),75.38324,75.38324
1689,151,34205,28684,29181,32212,19362,10.01950,7.69030,35.35580,Water (saline),50.03510,50.03510
1690,151,24932,20969,21769,23830,14803,24.71660,8.08055,37.06590,Water (saline),76.48988,76.48988
1694,151,29707,22570,24546,28216,16449,26.16555,8.07290,36.56445,Water (saline),79.09799,79.09799
1695,151,29357,24175,24822,27734,15987,10.18475,7.63080,35.12975,Water (saline),50.33255,50.33255
1696,151,27375,22391,24025,26125,16601,27.59770,8.07640,35.88620,Water (saline),81.67586,81.67586

3. Сколько раз какой руководитель встречался

In [87]:
tempS = (data['principal_investigator'].dropna())
tempS.value_counts()

Rob Knight            371
Jack Gilbert          266
Torsten Thomas        132
MG Dominguez-Bello    113
Byron Crump           106
                     ...
Antje Gittel            3
Jenni Hultman           3
Steven Hallam           3
Jacob Parnell           3
Subramanya Rao          2
Name: principal_investigator, Length: 61, dtype: int64

1. Сортировка по 'sequences_split_libraries'

In [88]:
df_merged = df_merged.sort_values('sequences_split_libraries')
df_merged

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,temperature_deg_c,ph,salinity_psu,empo_3,F,F2
644,151,17607,13453,14417,16246,10074,15.00000,6.80000,7.15000,Plant rhizosphere,59.00000,59.00000
641,151,19246,12706,13933,16858,8550,15.00000,6.94000,7.15000,Soil (non-saline),59.00000,59.00000
645,151,23216,14194,15849,19699,9922,15.00000,6.80000,7.10000,Soil (non-saline),59.00000,59.00000
1690,151,24932,20969,21769,23830,14803,24.71660,8.08055,37.06590,Water (saline),76.48988,76.48988
1696,151,27375,22391,24025,26125,16601,27.59770,8.07640,35.88620,Water (saline),81.67586,81.67586
1695,151,29357,24175,24822,27734,15987,10.18475,7.63080,35.12975,Water (saline),50.33255,50.33255
1694,151,29707,22570,24546,28216,16449,26.16555,8.07290,36.56445,Water (saline),79.09799,79.09799
649,151,30409,21163,23365,28187,17099,15.00000,6.82000,7.44000,Plant rhizosphere,59.00000,59.00000
1688,151,31252,25948,26884,29526,18410,24.10180,8.07955,37.05380,Water (saline),75.38324,75.38324
102,143,31471,20139,22078,31110,15180,10.80000,7.85000,35.30000,Sediment (saline),51.44000,51.44000
1689,151,34205,28684,29181,32212,19362,10.01950,7.69030,35.35580,Water (saline),50.03510,50.03510
103,143,39155,26873,29378,38811,18674,12.10000,7.69000,35.30000,Sediment (saline),53.78000,53.78000
1584,138,41108,28559,29058,40525,23583,2.00000,7.90000,31.00000,Water (saline),35.60000,35.60000
106,143,41795,27680,30661,41181,19904,11.60000,6.77000,35.30000,Sediment (saline),52.88000,52.88000
704,151,49580,42467,43288,49246,37515,3.54770,8.20300,0.13590,Water (non-saline),38.38586,38.38586
105,143,51547,31107,35511,50810,20626,11.10000,7.21000,35.30000,Sediment (saline),51.98000,51.98000
427,151,56529,52009,53397,55775,37752,17.00000,7.80000,32.00000,Sediment (saline),62.60000,62.60000
705,151,58082,49304,51161,57585,44177,3.53180,8.21800,0.13610,Water (non-saline),38.35724,38.35724
1672,138,63140,49893,52148,61322,34857,8.80000,7.90000,19.00000,Water (saline),47.84000,47.84000
1674,138,68757,59761,60990,67830,37483,4.90000,7.90000,31.00000,Water (saline),40.82000,40.82000
1618,138,72703,60135,62858,71485,38725,7.70000,7.90000,28.00000,Water (saline),45.86000,45.86000
415,151,74433,72361,72422,74137,60257,6.00000,7.80000,32.00000,Sediment (saline),42.80000,42.80000
1637,138,78947,65564,69148,77345,42623,11.40000,7.90000,27.00000,Water (saline),52.52000,52.52000
1650,138,79152,63717,64458,78116,44084,5.20000,7.80000,30.00000,Water (saline),41.36000,41.36000
428,151,81360,62069,64121,77216,42974,17.00000,7.80000,31.00000,Sediment (saline),62.60000,62.60000
1604,138,81624,67906,71711,79895,44289,11.20000,7.70000,27.00000,Water (saline),52.16000,52.16000
1651,138,82922,71068,72821,81748,45371,10.50000,7.90000,28.00000,Water (saline),50.90000,50.90000
429,151,86396,67615,70300,83649,45968,17.00000,7.80000,25.00000,Sediment (saline),62.60000,62.60000
101,143,87912,58613,63549,86707,40702,11.00000,8.03000,35.40000,Sediment (saline),51.80000,51.80000
712,151,91567,75505,78788,90869,67312,2.91400,7.96600,0.04410,Water (non-saline),37.24520,37.24520
1588,138,96699,83856,85761,95392,52987,5.10000,8.00000,32.00000,Water (saline),41.18000,41.18000
708,151,101388,75896,80347,100439,78116,3.33790,7.78000,0.04430,Water (non-saline),38.00822,38.00822
703,151,102431,86209,87555,101475,74234,3.54490,8.27300,0.13590,Water (non-saline),38.38082,38.38082
710,151,105644,86927,90093,104915,79111,2.79340,7.92200,0.04390,Water (non-saline),37.02812,37.02812
1620,138,108647,91309,92367,106952,58889,4.80000,8.00000,32.00000,Water (saline),40.64000,40.64000
706,151,110506,88902,93882,109789,81988,2.80620,7.87200,0.04410,Water (non-saline),37.05116,37.05116
707,151,117090,88097,93514,115938,89941,3.34630,7.78000,0.04440,Water (non-saline),38.02334,38.02334
709,151,119772,97392,101705,118801,87447,2.55500,7.78700,0.04420,Water (non-saline),36.59900,36.59900
702,151,122842,100806,102750,121650,89224,3.52980,8.26300,0.13570,Water (non-saline),38.35364,38.35364
711,151,123277,101363,105221,122260,90014,2.86900,7.95100,0.04410,Water (non-saline),37.16420,37.16420
104,143,125273,80853,87524,122662,53128,11.00000,7.33000,35.40000,Sediment (saline),51.80000,51.80000
1663,138,132838,99906,101780,131234,77607,2.50000,7.90000,31.00000,Water (saline),36.50000,36.50000
1619,138,173795,119616,128395,165041,72080,6.90000,7.90000,29.00000,Water (saline),44.42000,44.42000

2. Сортировка индексов

In [89]:
df_merged = df_merged.sort_index()
df_merged

,read_length_bp,sequences_split_libraries,observations_closed_ref_greengenes,observations_closed_ref_silva,observations_open_ref_greengenes,observations_deblur_90bp,temperature_deg_c,ph,salinity_psu,empo_3,F,F2
101,143,87912,58613,63549,86707,40702,11.00000,8.03000,35.40000,Sediment (saline),51.80000,51.80000
102,143,31471,20139,22078,31110,15180,10.80000,7.85000,35.30000,Sediment (saline),51.44000,51.44000
103,143,39155,26873,29378,38811,18674,12.10000,7.69000,35.30000,Sediment (saline),53.78000,53.78000
104,143,125273,80853,87524,122662,53128,11.00000,7.33000,35.40000,Sediment (saline),51.80000,51.80000
105,143,51547,31107,35511,50810,20626,11.10000,7.21000,35.30000,Sediment (saline),51.98000,51.98000
106,143,41795,27680,30661,41181,19904,11.60000,6.77000,35.30000,Sediment (saline),52.88000,52.88000
415,151,74433,72361,72422,74137,60257,6.00000,7.80000,32.00000,Sediment (saline),42.80000,42.80000
427,151,56529,52009,53397,55775,37752,17.00000,7.80000,32.00000,Sediment (saline),62.60000,62.60000
428,151,81360,62069,64121,77216,42974,17.00000,7.80000,31.00000,Sediment (saline),62.60000,62.60000
429,151,86396,67615,70300,83649,45968,17.00000,7.80000,25.00000,Sediment (saline),62.60000,62.60000
641,151,19246,12706,13933,16858,8550,15.00000,6.94000,7.15000,Soil (non-saline),59.00000,59.00000
644,151,17607,13453,14417,16246,10074,15.00000,6.80000,7.15000,Plant rhizosphere,59.00000,59.00000
645,151,23216,14194,15849,19699,9922,15.00000,6.80000,7.10000,Soil (non-saline),59.00000,59.00000
649,151,30409,21163,23365,28187,17099,15.00000,6.82000,7.44000,Plant rhizosphere,59.00000,59.00000
702,151,122842,100806,102750,121650,89224,3.52980,8.26300,0.13570,Water (non-saline),38.35364,38.35364
703,151,102431,86209,87555,101475,74234,3.54490,8.27300,0.13590,Water (non-saline),38.38082,38.38082
704,151,49580,42467,43288,49246,37515,3.54770,8.20300,0.13590,Water (non-saline),38.38586,38.38586
705,151,58082,49304,51161,57585,44177,3.53180,8.21800,0.13610,Water (non-saline),38.35724,38.35724
706,151,110506,88902,93882,109789,81988,2.80620,7.87200,0.04410,Water (non-saline),37.05116,37.05116
707,151,117090,88097,93514,115938,89941,3.34630,7.78000,0.04440,Water (non-saline),38.02334,38.02334
708,151,101388,75896,80347,100439,78116,3.33790,7.78000,0.04430,Water (non-saline),38.00822,38.00822
709,151,119772,97392,101705,118801,87447,2.55500,7.78700,0.04420,Water (non-saline),36.59900,36.59900
710,151,105644,86927,90093,104915,79111,2.79340,7.92200,0.04390,Water (non-saline),37.02812,37.02812
711,151,123277,101363,105221,122260,90014,2.86900,7.95100,0.04410,Water (non-saline),37.16420,37.16420
712,151,91567,75505,78788,90869,67312,2.91400,7.96600,0.04410,Water (non-saline),37.24520,37.24520
1584,138,41108,28559,29058,40525,23583,2.00000,7.90000,31.00000,Water (saline),35.60000,35.60000
1588,138,96699,83856,85761,95392,52987,5.10000,8.00000,32.00000,Water (saline),41.18000,41.18000
1604,138,81624,67906,71711,79895,44289,11.20000,7.70000,27.00000,Water (saline),52.16000,52.16000
1618,138,72703,60135,62858,71485,38725,7.70000,7.90000,28.00000,Water (saline),45.86000,45.86000
1619,138,173795,119616,128395,165041,72080,6.90000,7.90000,29.00000,Water (saline),44.42000,44.42000
1620,138,108647,91309,92367,106952,58889,4.80000,8.00000,32.00000,Water (saline),40.64000,40.64000
1637,138,78947,65564,69148,77345,42623,11.40000,7.90000,27.00000,Water (saline),52.52000,52.52000
1650,138,79152,63717,64458,78116,44084,5.20000,7.80000,30.00000,Water (saline),41.36000,41.36000
1651,138,82922,71068,72821,81748,45371,10.50000,7.90000,28.00000,Water (saline),50.90000,50.90000
1663,138,132838,99906,101780,131234,77607,2.50000,7.90000,31.00000,Water (saline),36.50000,36.50000
1672,138,63140,49893,52148,61322,34857,8.80000,7.90000,19.00000,Water (saline),47.84000,47.84000
1674,138,68757,59761,60990,67830,37483,4.90000,7.90000,31.00000,Water (saline),40.82000,40.82000
1688,151,31252,25948,26884,29526,18410,24.10180,8.07955,37.05380,Water (saline),75.38324,75.38324
1689,151,34205,28684,29181,32212,19362,10.01950,7.69030,35.35580,Water (saline),50.03510,50.03510
1690,151,24932,20969,21769,23830,14803,24.71660,8.08055,37.06590,Water (saline),76.48988,76.48988
1694,151,29707,22570,24546,28216,16449,26.16555,8.07290,36.56445,Water (saline),79.09799,79.09799
1695,151,29357,24175,24822,27734,15987,10.18475,7.63080,35.12975,Water (saline),50.33255,50.33255
1696,151,27375,22391,24025,26125,16601,27.59770,8.07640,35.88620,Water (saline),81.67586,81.67586